* {
  margin: 0;
  padding: 0;
}

$border: 0.01575rem solid #fff;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%pseudo-span {
  opacity: 1;
  transition: ease 1s all;
  transition-delay: opacity 2s;
}

body, html {
  width: 100%;
  height: 100vh;
  background-image: url(../bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif, serif;
  @extend %flex-center;
}

a {
  position: relative;
  background: #ff4655;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: 3px;
  color: #fff;
  &:after {
    position: absolute;
    content: 'BUTTON';
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    visibility: hidden;
    @extend %flex-center;
  }
  &:hover {
    &:after {
      transition: ease .75s;
      background: #0f1923;
      visibility: visible;
      left: 0%;
      width: 101%;
      overflow: hidden;
    }
    &:hover {
      span:before {
        @extend %pseudo-span;
        top: -5px;
      }
      span:after {
        @extend %pseudo-span;
        bottom: -5px;
      }
    }
  }
  span {
    overflow: hidden;
    &:before {
      position: absolute;
      content: '';
      top: -15px;
      left: -5%;
      right: 0;
      width: 110%;
      height: 57%;
      margin: auto;
      opacity: 0;
      border: {
        top: $border;
        left: $border;
        right: $border;
      }
    }
    &:after {
      position: absolute;
      content: '';
      bottom: -15px;
      left: -5%;
      right: 0;
      width: 110%;
      height: 57%;
      margin: auto;
      opacity: 0;
      border: {
        left: $border;
        right: $border;
        bottom: $border;
      }
    }
  }
}